<div class="home-container">
  <h1 style="text-align: start; margin-bottom: 1em;">Your Ideas</h1>
  {{#each result}}
    <div class="idea-card">
      <h2>{{title}}</h2>
      <h4>{{details}}</h4>
      <div class="edit-delete-class">
        <a class="edit-btn" href="/ideas/edit/{{id}}">Edit</a>
        <form method="post" action="/ideas/{{id}}?_method=DELETE">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" class="delete-btn" value="Delete">
        </form>
      </div>
    </div>
    {{else}}
      <p>there is no video ideas to be listed</p>
  {{/each}}
</div>
